@{
  ViewData["Title"] = "Home Page";
}

<a asp-controller="Payment" asp-action="CreatePayment">CreatePayment</a><br /><br />
<a asp-controller="Payment" asp-action="SplittedPaymentPartial">SplittedPaymentPartial</a>